body {
    background-image: url(https://thumbs.dreamstime.com/b/color-money-background-stationery-739106.jpg);
    color:white
    display: inline-block;
    padding: 1em 1em 1em 1em;
}


body > header > h1 {
    display: inline-block;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: green;

}

body > h3 {
    display: inline-block;
    padding: 1em 1em 1em 1em
}

body > header > nav > ul {
    display: inline-block;
    padding: 1em 1em 1em 1em;
    background-color: rgb(75, 123, 75);
    color: rgb(2, 28, 2);

}

.container {
    align-content: center;
    display: inline-block;
    padding: 0.1em 1.5em 0.1em 1.5em;
    background-color: white;
    color: green
}

.container > section > ul > li {
    display: inline-block;
    background-color: white;
    color: green
}

a:link {
    color:dark rgb(0, 22, 7)
}

a:visited {
    color:white
}