<!DOCTYPE html>
	<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title>PennyWorth</title>
		


	</head>

	<body>

	    <header>

			<h1>PennyWorth</h1>
			
	        <nav>


	            <ul class="menu">
					<li><a href="/">Home</a></li>
					
					<li><a href="/">Merchants</a></li>
						<ul>
							<li><a href="/merchants">Your merchants</a></li>
							<li><a href="/merchants/new">dd merchant</a></li>
						</ul>
					</li>  

					<li><a href="/">Tags</a></li>

						<ul>
							<li><a href="/tags">Your tags</a></li>
							<li><a href="/tags/new">Add tag</a></li>
						</ul>
					</li>       
					
					<li><a href="/">Transactions</a></li>
					
	                    <ul>
	                        <li><a href="/transactions">Your transactions</a></li>
	                        <li><a href="/transactions/new">Add transaction</a></li>
	                    </ul>
					</li>         
					    

					
					
				</ul>
				


	        </nav>
	    </header>
	    <div class="container">
	        {% block content %}
	        {% endblock %}
	    </div>
	</body>
	</html>