{% extends "base.html" %}
	{% block content %}
	
	<body>
	    <h3>Welcome here, I am PennyWorth your faithful assistant! I will help track your spendings!</h3>
		<br>
		<h5>With my help, you would be able to:</h3>
	    <ul>
	        <li>create and edit merchants</li>
	        <br>
	        <li>assign tags and merchants to a transaction.</li>
	        <br>
	        <li>check all the transactions you've created</li>
	        <br>
	        <li>check the total amount for all transactions</li>
	    </ul>
	</body>
	
	{% endblock %}