{% extends "base.html" %}
	{% block content %}
	
	<h2>Add New Transaction</h2>
	
    <form action="/transactions" method="POST">
        
	    <div>
	        <label for="amount">Amount: £
	            <input type="number" required name="amount" min="0" value="0">
	        </label>
        </div>
        

        <br>
        

	    <div>
	        <label for="merchant">Merchant:</label>
	        <select name="merchant_id" id="merchant">
	            {% for merchant in merchants %}
	            <option value="{{ merchant.id }}">
	                {{ merchant.name }}
	            </option>
	            {% endfor %}
	        </select>
        </div>
        

        <br>
        

	    <div>
	        <label for="tag">Tag:</label>
	        <select name="tag_id" id="tag">
	            {% for tag in tags %}
	            <option value="{{ tag.id }}">
	                {{ tag.name }}
	            </option>
	            {% endfor %}
	        </select>
        </div>
        

        <br>
        
        
	    <div>
	        <input type="submit" name="name" value="Add Transaction" >
	    </div>
	</form>
	
	{% endblock %}